
<div class="container mt-3">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
      <!--   <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minAge"
            [(ngModel)]="userParams.minAge" name="minAge">
        </div>

        <div class="form-group px-2">
          <label for="maxAge">Age To</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge"
             [(ngModel)]="userParams.maxAge" name="maxAge">
        </div> -->
        <div class="col-md-3 col-sm-12 form-group" style="padding: 0;">
          <label for="specialist">الاختصاص :  </label>
          <select class="form-control select-res"  id="specialist"
            [(ngModel)]="userParams.specialist" name="specialist">
            <option *ngFor="let specialist of specialistList" [value]="specialist.value">
              {{specialist.display}}
            </option>
          </select>
        </div> 
         <div class="col-md-3 col-sm-12 form-group" style="padding: 0;">
          <label for="city">المدينة : </label>
          <select class="form-control select-res" id="city"
            [(ngModel)]="userParams.city" name="city">
            <option *ngFor="let city of cityList" [value]="city.value">
              {{city.display}}
            </option>
          </select>
        </div> 
        <div class="col-md-3 col-sm-12 form-group">
          <label for="gender">الجنس : </label>
          <select class="form-control select-res" id="gender"
            [(ngModel)]="userParams.gender" name="gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12"  style="padding: 0;">
          <button type="button" class="btn btn-primary float-left" (click)="resetFilters()" >
            مسح البحث
          </button>
          <button type="submit" class="btn btn-info float-left" style="margin-left:10px;">البحث</button>
        </div>
   
      </form>
   
      <br>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-4">
          <input type="text" placeholder="ابحث اسم طبيب" class = "form-control" style="width: 263px;" [(ngModel)]="searchTerm">
        </div>
        <div class="col-md-4">
          <h3 style="text-align: center;">يوجد هناك {{pagination.totalItems}}- طبيب</h3>
        </div>
        <div class="col-md-4">
          <!-- <div class="btn-group float-left">
            <button type="button" name="orderBy" class="btn btn-primary"
              [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="lastActive">آخر نشاط</button>
            <button type="button" name="orderBy" class="btn btn-primary"
              [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="created">الاطباء الجدد</button>
          </div> -->
        </div>
    </div>
     
  <div class="row">
    <div *ngFor="let user of users | memberFilter:searchTerm" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>