<div class="container mt-5">
  <h2 class="text-center">لوحة الادارة</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="اضافة عضو جديد" *appHasRole="['Admin', 'Moderator']">
        <app-register></app-register>
      </tab>
      <tab heading="ادارة الاعضاء" *appHasRole="['Admin']">
        <div class="container">
            <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="ادارة الصور" *appHasRole="['Admin', 'Moderator']">
        <app-photo-management></app-photo-management>
      </tab>
      <tab heading="ادارة المستشفيات" *appHasRole="['Admin', 'Moderator']">
        <app-hospital-creation></app-hospital-creation>
      </tab>
      

    </tabset>
  </div>
</div>